.html, .body {
    height: 100%;
    margin: 0;
    padding: 0;
  }



.kodfun-galeri{
    display: flex;
    height: 1900px;
    gap: 1rem;
   
}

.kodfun-galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    width: 100%;
}

.kodfun-galeri > div:hover {
    flex: 4;
}



